<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Weather App on Django</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Source GeoIP</a>
        <a class="p-2 text-dark" href="#">Documentation</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-5 offset-1">
            <h2>Weather in your city</h2>
            {% if message %}
                <div class="alert alert {{ message_class }}">{{ message }}</div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Enter your city</span>
                    </div>
                    {{ form.name }}
                </div>

                <input type="submit" name="send" value="Get to know the city" class="mt-2 btn btn-info">

            </form>

        </div>
        <div class="col-5 offset-1">
            <h2>Weather information</h2>
            <h5><span class="badge badge-secondary">
            It is {% now "jS F Y H:i" %}
            </span></h5>
            {% for info in all_info %}

                <div class="alert alert-info">
                    <div class="right">
                        <a href="{% url 'delete_city' info.city %}">
                            <button type="button" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <b>City:</b>
                            <div class="badge badge-primary text-wrap text-uppercase">{{ info.city }}</div>
                            </br>
                            <b>Temperature:</b> {{ info.temp }} ° F
                            </br>
                            <b>Country:</b> {{ info.country }}
                            </br>
                            <b>Description:</b> {{ info.description }}
                        </div>
                        <div class="col-2 offset-1">
                            <img src="http://openweathermap.org/img/w/{{ info.icon }}.png" alt="ico">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>© 2017-2019 Weather App on Django · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
</footer>

</body>
</html>